spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/itrumwallet}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  liquibase:
    enabled: true

server:
  port: ${SERVER_PORT:8080}
